.custom-div {
    background-color: rgb(5, 210, 5); 
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}